/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  background: #fff;
  height: 100%;
  min-width: 1100px;
}
body {
  height: 100%;
}
.img-link {
  text-decoration: none;
  border: none;
}
header {
  position: fixed;
  height: 135px;
  width: 100%;
  z-index: 9;
}
header .logo {
  display: block;
  width: 83px;
  height: 118px;
  position: absolute;
  left: 50%;
  margin: 15px 0 0 -41px;
  background: url("../img/logo.png");
  background-position: 0 top;
  /*        -webkit-transition: all 2ms linear;
            -moz-transition: all 2ms linear;
            -ms-transition: all 2ms linear;
            -o-transition: all 2ms linear;
            transition: all 2ms linear;*/

}
header nav ul {
  padding: 0;
  margin: 100px 0 0 0;
}
header nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
}
header nav ul li a {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 2px solid;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  height: 18px;
  display: block;
}
header nav ul li a:hover {
  border: none;
}
header nav ul .n-menu {
  right: 50%;
  margin: 0 402px 0 0px;
}
header nav ul .n-restaurants {
  right: 50%;
  margin: 0 224px 0 0px;
}
header nav ul .n-team {
  right: 50%;
  margin: 0 92px 0 0px;
}
header nav ul .n-services {
  left: 50%;
  margin: 0 0px 0 110px;
}
header nav ul .n-news {
  left: 50%;
  margin: 0 0px 0 215px;
}
header .pre-bill {
  background: url("../img/pre-bill-bg.png") no-repeat;
  width: 154px;
  height: 112px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 370px;
  padding: 5px 15px 10px 10px;
}
header .pre-bill .title {
  position: relative;
  padding: 0 0 10px 0;
  height: 40px;
  border-bottom: 1px solid #4c1710;
}
header .pre-bill .title ins {
  background: url("../img/spica.png") no-repeat;
  width: 46px;
  top: 0;
  left: -3px;
  height: 40px;
  position: absolute;
}
header .pre-bill .title span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 7px 0 0 44px;
  letter-spacing: -0.081em;
  font-size: 12px;
}
header .pre-bill span {
  font-size: 11px;
  color: #4c1710;
  font-style: italic;
}
header .pre-bill .price {
  font-size: 24px;
  line-height: 20px;
  height: 30px;
  color: #0a135c;
  text-align: right;
  width: 100%;
  font-family: "Segoe Print";
  display: block;
}
header .pre-bill ins {
  background: url("../img/barr.png") no-repeat;
  width: 25px;
  height: 11px;
  margin: 0 auto;
  position: relative;
  bottom: 5px;
  cursor: pointer;
}
header.yellow nav ul li a {
  color: #eaa323 !important;
}
header.yellow .logo {
  background-position: 0 bottom;
}
section {
  height: 100%;
  overflow: hidden;
}
.screen1 {
  position: relative;
  height: 100%;
  background: #000;
}
.screen1 .video-background {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.screen1 .video-background video {
  min-height: 37%;
  min-width: 100%;
}
.screen1 .ui-video-background {
  position: absolute;
  top: 30px;
  left: 840px;
}
.screen1 .ui-video-background-controls {
  margin: 0;
  padding: 0 10px;
}
.screen1 .ui-video-background-controls li {
  float: left;
  padding: 10px;
}
.screen1 dt {
  float: left;
  width: 160px;
}
.screen1 dd {
  margin: 0 0 10px 160px;
}
.screen2 {
  background: #fff;
}
.screen3 {
  background-color: #fff;
  background: url("../img/contacts-bg.jpg");
  background-size: cover;
}
footer {
  height: 200px;
  background: #ccc;
}
ins {
  display: block;
  text-decoration: none;
  border: none;
}
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.unselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
